src/test/resources/schemas/formatY.xsd

<schema targetNamespace="http://example.org/formatY/"
        xmlns:this="http://example.org/formatY/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <element name="yMetadata" type="this:rootType"/>

  <complexType name="rootType">
    <sequence>
      <element name="label" type="string" maxOccurs="unbounded"/>
      <element name="date" type="string" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
