src/test/resources/schemas/my-about.xsd

<schema targetNamespace="http://example.org/my-about/"
        xmlns:this="http://example.org/my-about/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <element name="my_about" type="this:rootType"/>

  <complexType name="rootType">
    <sequence>
      <element name="category" type="string" maxOccurs="unbounded"/>
      <element name="firstCreated" type="string"/>
      <element name="primaryIdentifier" type="string"/>
    </sequence>
  </complexType>
</schema>
