src/schemas/formatX.xsd

<schema targetNamespace="http://example.org/formatX/"
        xmlns:this="http://example.org/formatX/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <element name="xMetadata" type="this:rootType"/>

  <complexType name="rootType">
    <sequence>
      <element name="name" type="string" maxOccurs="unbounded"/>
      <element name="date" type="string" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>
